/* Fonts */
@font-face {
  font-family: InterLight;
  src: url('fonts/Inter-VariableFont_slnt\,wght.ttf');
  font-weight: 100;
}

@font-face {
  font-family: Inter;
  src: url('fonts/Inter-VariableFont_slnt\,wght.ttf');
  font-weight: 500;
}

@font-face{
  font-family: InterBold;
  src: url('fonts/Inter-VariableFont_slnt\,wght.ttf');
  font-weight:800;
}

/* Default */

:root{
  --blue: rgb(0, 102, 255);
  --dark: rgb(1, 49, 121);
}

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.main{
  padding-left:10vw;
  padding-right:10vw;
  font-family:Inter;
}

.ReactLink{
  text-decoration: none;
  color:inherit;
}

/* Navigation Styles */
.navigation {
  width:100%;
  height:12vh;
  overflow:hidden;
  position: absolute;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.navigation #brand{
  font-family: InterLight;
  color:white;
}

.navigation .links{
  display: flex;
  list-style: none;
}

.navigation .link{
  padding:40px;
}

.navigation .ReactLink{
  color:white;
  font-family:Inter;
  padding:5px;
  padding-left:10px;
  padding-right:10px;
  border-radius:100px;
  transition:all 0.5s;
}

.navigation #special{
  background-color:white;
  color: var(--blue)
}

.navigation #special:hover{
  background-color:var(--blue);
  color:white;
}

.navigation .ReactLink:hover{
  background-color:white;
  color: var(--blue);
}

/* Home Styles */

.home .hero{
  width: 100%;
  height: 80vh;
  background-color: var(--blue);
}

.home .hero .content{
  flex-direction: column;
  height:100%;
  color:white;
  display: flex;
  align-items: center;
  justify-content:center;
  font-family: Inter;
  padding-left:20px;
  padding-right: 20px;
  text-align:center;
}

.home .hero .head{
  font-family: InterLight;
  font-size:50px;
  padding:20px;
}

.home .hero a{
  color:white;
}

.home .hero code{
  background-color:white;
  color:var(--blue);
  padding:2px;
  border-radius: 5px;
}

.home .hero .repo{
  margin-top:20px;
  text-decoration: none;
  font-size: 17px;
  font-family: Inter;
  color:white;
  padding:7px;
  padding-left: 10px;
  padding-right: 10px;
  background-color:transparent;
  border:2px solid white;
  transition: all 0.2s;
}

.home .hero .repo:hover{
  background-color:white;
  color:var(--blue);
}

.home section.cards{
  margin-top:50px;
  margin-bottom:50px;
}

.home section.cards .head{
  padding-bottom:20px;
  text-align:center;
  font-family: InterBold;
  color:var(--blue);
  font-size:35px;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.home section.cards .row{
  display:flex;
  flex-wrap: wrap;
}

.home section.cards .card{
  box-shadow:rgba(0,0,0,0.2) 0px 0px 10px;
  margin:10px;
  flex: 1 200px;
  padding:20px;
}

.home section.cards .card .head{
  text-decoration: none;
  font-size:25px;
  padding:0;
  padding-bottom:20px;
}

.home section.cards .card ul{
  padding-bottom:10px;
  padding-top: 5px;
  color:var(--blue);
  padding-left:10px;
}

.home section.cards .card li{
  font-family: InterBold;
}

.home section.cards .card code{
  color:var(--blue);
}
/* About Styles */
.about{
  width:100%;
  min-height: 100vh;
}

/* Footer Styles */

.footer{
  text-align:center;
  padding:10px;
  background-color:var(--blue);
  color:white;
}

.footer .head{
  font-family: InterLight;
}

.footer h2{
  padding: 5px;
  font-size:15px;
  font-family: Inter;
}